* {                   /* Remove any default styles, center element and set max width */
  margin: 0;
  padding: 0;
  max-width: 1280px;
  /* center page */
  margin: 0 auto;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  /* Prevents clipping issue for border radius */
  border-radius: 30px;
  background: white;

}

nav h2 {
  font-size: 26pt;  /* Manual font size specification */
}

.mobile,
.mob {
  display: none;  /* Hides mobile content as default */
}

a {
  text-decoration: none;  /* Removes ugly default styles (bullet point / underline) */
}

.container>* {
  white-space: nowrap;    /* Allow content to fit within conatiner */
}

.container {              /* Assign css grid areas and column/row sizes for desktop view */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "head""midd""bott";
  background-color: black;
  padding: 0;
  margin: 0;
  height: 450px;        /* Manual height specification */
  position: sticky;     /* Allows the nav bar to stick to the top of the page on desktop */
  top:0;
}

.img {
  min-width: 850px;     /* Makes sure the image is no wider than the space it sits in */
}

.upper {
  grid-area: head;      /* Assignment of grid areas for each element */
}

.img {
  grid-area: midd;
}

.bottom {
  grid-area: bott;
}

.upper {                /* New nested CSS grid to align menu options in a seperate layout */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8, 1fr);  /* Assigns 8 fractions of the screen to columns */
  grid-template-areas:
    "home title title title title nutrition contact about"
  ;
  align-items: center;
  justify-items: center;                  /* Vertically and horizontally centers content in the grid */

}

.upper h2 {
  color: white;
}

.bottom {               /* Additional CSS grid conatiner to layout items separately to main grid */
  display: grid;
  grid-template-rows: auto;     /* auto defines row height */
  grid-template-columns: repeat(4, 1fr);  /* Assigns collumns into 4 sections */
  grid-template-areas:
    "Pizza Side Drink Dessert"  /* Assigns grid area names for ease of assingment later */
  ;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.bottom a {
  padding-left: 60px;
  padding-right: 60px;
}

.home {
  grid-area: home;              /* More grid-area assignment */
}

.title {
  grid-area: title;
}

.nutrition {
  grid-area: nutrition;
}

.contact {
  grid-area: contact;
}

.about {
  grid-area: about;
}

.Pizzas {
  grid-area: Pizza;
}

.Drinks {
  grid-area: Drink;
}

.Sides {
  grid-area: Side;
}

.Desserts {
  grid-area: Dessert;
}

.nutrition,
.contact,
.about {
  justify-self: end;  /* Allows last three buttons to stick to the end of the container (right hand side) */
}

li {
  padding: 20px;
}

li a {
  color: black;
}

ul {
  list-style-type: none; /* Removes any default styles (bullet points) */
  margin: 0;
  padding: 0;             /* Remove any margin/padding which has been applied to all elements */
}

li a {
  padding: 10px;
  border-radius: 10px;

  background-color: #FFFFFF;
}


@media screen and (max-width: 899px) and (min-width: 0px) { /* Checks screen size */
  .upper {                  /* Displays flex container instead of CSS grid */
    display: flex;
    align-items: center;
    justify-items: center;  /* Centralises items */
  }

  .container {
    position: relative;
  }

  nav h2 {
    font-size: 16pt;        /* Font-size adjust for mobile platforms */
  }

  .img {
    display: none;          /* Hides image (too big for mobile views) */

  }

  img.mob {
    display: block;         /* Shows cropped image which is better displayed on a mobile device */
    grid-area: midd;        /* Assigns grid location */
    min-width: 200px;       /* New min-width for mobile device */
  }

  .mobile {
    margin-right: auto;     /* Auto centering */
    display: contents;      /* Shows mobile content (button) */
  }

  .mobile img {
    height: 32px;           /* Stops huge menu icon, appropriate manual sizing specified */

  }

  li a {
    background: none;
    /* Removes white blob from menu element */
    margin-right: 30px;
  }

  .nutrition,
  .contact,
  .about,
  .Pizzas,
  .Drinks,
  .Sides,
  .home,        /* Hides desktop conent - this has been moved to a menu html file */
  .Desserts {
    display: none;
  }

  .title {
    grid-area: title;
  }

  .title {
    padding: 20px;
  }

  h2.title {
    margin: 0;
  }

}

@media screen and (max-width: 360px) {
  .title {
    display: none;  /* Hides title for weird tiny devices */
  }
  a {
    margin: auto;   /* Attempts to center menu button */
  }
  ul {
    margin: auto;   /* Fixes some additional centering issues */
  }
}